@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Raleway&display=swap');

:root {
    --vertical-space: 2rem;
    --horizontal-space: 3rem;
    --light-color: #B9CDE6;
    --body-color: #7D8A99;
    --heading-color: #3F454D;
    --contrast-color: #20354F;
    --light-color2: #D8DFEB;
}

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    background-color: var(--light-color);
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

h1, h2, h3 {
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    color: var(--heading-color);
}

a {
    color: var(--body-color);
    text-decoration-color: var(--contrast-color);
}

a:hover {
    color: var(--contrast-color);
}

body#about img {height: 15em;}

p {
    max-width: 50em;
}

body {
    display: grid;
    grid-template-areas: "head head"
                         "nav nav"
                         "main main"
                         "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;
}

@media screen and (min-width:25em) {
    body {
        grid-template-areas: "head head"
                             "nav main"
                             "foot foot";
        grid-template-rows: auto 1fr auto;
    }
}

header {
    padding-top: 1.25em !important;
    border: 2px solid var(--heading-color);
}

header.sticky {
    position: sticky !important;
    top: 0 !important;
    background-color: var(--light-color2) !important;
    font-size: 20px !important;
}

body > * {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
    border: 2px solid var(--heading-color);
}

body > header {
    grid-area: head;
}

body > nav {
    grid-area: nav;
}

body > nav ul {
    list-style-type: none;
    padding: 0;
}

body > main {
    grid-area: main;
}

body > footer {
    grid-area: foot;
}

header, footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--horizontal-space);
}

header, h1, footer, h2 {
    margin: 0;
    padding-top: 0.5em;
}

body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

@media screen and (min-width:25em) {
    body#portfolio ul#portfolioItems li {
        flex-basis: 48%;
        padding-right: 2%;
    }
}

body#portfolio ul#portfolioItems li img {
    max-width: 100%;
}